{% extends 'base.html.twig' %}
{% block main %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">Watch the best videos on the planet. Choose a plan that is right for you. Downgrade or upgrade at
            any time.
        </p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{name[0]|capitalize}}</h4>
                </div>
                <div class="card-body">

                    <h1 class="card-title pricing-card-title">${{price[name[0]]}} <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Access for one month</li>
                        <li>Help center access</li>
                    </ul>

                    <a role="button" href="{{path('register',{'plan':name[0]})}}" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{name[1]|capitalize}}</h4>
                </div>
                <div class="card-body">

                    <h1 class="card-title pricing-card-title">${{price[name[1]]}} <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited access</li>
                        <li>HD available</li>
                        <li>No ads on videos</li>
                        <li>Help center access</li>
                    </ul>

                    <a role="button" href="{{path('register',{'plan':name[1]})}}" class="btn btn-lg btn-block btn-primary">Get started</a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{name[2]|capitalize}}</h4>
                </div>
                <div class="card-body">

                    <h1 class="card-title pricing-card-title">${{price[name[2]]}} <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited access</li>
                        <li>Ultra HD available</li>
                        <li>No ads on videos</li>
                        <li>Help center access</li>
                        <li>Unlimited live events</li>
                    </ul>

                    <a role="button" href="{{path('register',{'plan':name[2]})}}" class="btn btn-lg btn-block btn-primary">Contact us</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


